.bandera {
  background: aquamarine;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rojo {
  background: red;
  height: 200px;
  width: 150px;
  text-align: center;
  align-items: center;
}
.blanco {
  background: white;
  height: 200px;
  width: 150px;
  text-align: center;
  align-items: center;
}
.rojo_2 {
  background: red;
  height: 200px;
  width: 150px;
  text-align: center;
  align-items: center;
}
img {
  width: 140px;
}
